
@font-face{
  font-family: GameBoy;
  src: url(./Early_GameBoy.ttf);
}
*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: GameBoy, sans-serif;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
